.choose-score {
    margin-bottom: 2px;
}

.choose-score label{
    font-size: 0.875em;
    margin-bottom: 0;
    padding-bottom: 0;
}

.choose-score input{
    vertical-align: text-bottom;
}

.show-types p:first-child{
    margin-bottom: 1px;
}

.show-types label{
    font-size: 0.875em;
    margin-bottom: 0;
    padding-bottom: 0;
}

.show-types input{
    vertical-align: text-bottom;
}

.show-familiarity p:first-child{
    margin-bottom: 1px;
}

.show-familiarity label{
    font-size: 0.875em;
    margin-bottom: 0;
    padding-bottom: 0;
}

.show-familiarity input{
    vertical-align: text-bottom;
}