.supporting-works {
    margin-bottom: 10px;
}

.critical-works {
    margin-bottom: 10px;
}

.enlightening-works {
    margin-bottom: 10px;
}

.unrated-works {
    margin-bottom: 10px;
}

.new-work {
    margin-top: 40px;
}