.reciprocal-test input{
    vertical-align: text-bottom;
}

.create-ideological-turing-test .up{
    position: absolute;
    cursor: pointer;
    cursor: hand;
}

.create-ideological-turing-test .down{
    position: relative;
    top: 31px;
    cursor: pointer;
    cursor: hand;
}

.textarea-container textarea:nth-child(n + 2){
    margin-right: 5px;
}