.updates-div{
    position: absolute;
    z-index:100;
    width:290px;
    height: 40px;
    background-color: white;

    box-shadow: -3px 5px 3px 1px #888888;
}

.updates-div .updates-intro{
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.updates-div a {
    color: inherit;
    text-decoration: inherit;
}

.checked-update-box-true{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px green solid;
}

.checked-update-box-true:hover{
    background-color: #C2F0C2;
}

.checked-update-box-{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px green solid;
    background-color: #99E699;
}

.checked-update-box-:hover{
    background-color: #C2F0C2;
}

.updates-date{
    font-size: 0.8em;
    float: right;
}



.search-engine{
    position: relative;
    top: -5px;
}



.sign-out{
    position: absolute;
    bottom: 0;
    left: 10px;
}
