.login-page {
    max-width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-page input{
    width:75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.login-div {
    width: 320px;

    position: absolute;
    z-index:1;
    box-shadow: -3px 5px 3px 1px #888888;
    background-color: white;
}

.login-div-content{
    margin-left: 10px;
    margin-top: 10px;
}

.login-div input{
    width:75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-div button{
    width:75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.facebook-icon{
    height: 15px;
    position: relative;
    float: left;
    top: 2px;
}