.login-page {
    max-width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-page input{
    width:75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-page p:first-child{
    margin-bottom: 20px;
}