.user-header{
}
.user-header h2{
    color: #35BF5C
}

.profile-picture{
    margin-bottom: 10px;
}

.profile-resume{
    margin-top: 10px;
    margin-bottom: 10px;
}

.tab {
    display:none;
}

.works-both-have-encountered td:nth-child(1), td:nth-child(2){
    padding-right: 10px;
}